  header {
    background-color: #f1f1f1;
    padding: 10px 20px;
  }

  nav {
    height: 46px;
    width: 100%;
    margin: 1px auto 0 auto;
    background-color: #444444;
    position:relative;
  }

  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    flex: auto;
    padding: 0 0 0 6px;
    list-style: none;
    margin: 0px 2px 0 0;
  }

  nav ul li a {
    font: normal 100% 'trebuchet ms', sans-serif;
    display: block;
    height: 27px;
    padding: 12px 28px 5px 22px;
    text-align: center;
    color: #FFF;
    border-right: 1px solid #636363;
    text-decoration: none;
  }

  nav ul li.selected a, nav ul li.selected, a:hover {
    color: #ECEF01;
  }

  .notifications {
    font-family: arial;
    color: #fff;
    display: block;
    position: absolute;
    text-align: center;
    width: 2em;
    height: 2em;
    line-height: 2em;
    top: 7px;
    right: 7px;
    z-index: 2;
  }

  .notifications:before {
    border-radius: 50%;
    background-color: #b20000;
    content: '';
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    z-index: -1;
  }
