<header>
    <h1>Micro Frontends Demo</h1>
  </header>
  <nav>
    <ul>
      <ng-container *ngFor="let route of items">
        <li>
          <a href=""
          [attr.data-clientsideroute]="route.clientRoute"
          (click)="clickHandler($event,route)">{{route.label}}
          </a>
        </li>
      </ng-container>
    </ul>
    <div *ngIf="notification != null && notification.length > 0" class="notifications">
      {{notification.length}}
    </div>
  </nav>